<!doctype html>
<%= tag.html lang: I18n.locale do %>
  <head>
    <meta charset="utf-8">
    <title>UCalendar</title>
    <%= tag.meta name:'description', content: t('page_description') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
<% end %>
